.mainDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsla(60, 24%, 94%, 1);
	background-image: radial-gradient(
			at 93% 77%,
			hsla(266, 100%, 72%, 0.4) 0px,
			transparent 50%
		),
		radial-gradient(at 21% 77%, hsla(229, 100%, 72%, 0.26) 0px, transparent 50%),
		radial-gradient(at 14% 15%, hsla(299, 100%, 82%, 0.14) 0px, transparent 50%),
		radial-gradient(at 57% 57%, hsla(191, 100%, 70%, 0) 0px, transparent 50%),
		radial-gradient(at 94% 8%, hsla(145, 100%, 77%, 0.29) 0px, transparent 50%);
	min-height: 100vh;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

@keyframes bg-animation-reverse {
	0% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}

.ShortYTitleText {
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 4.5rem;
	font-weight: 700;

	background: linear-gradient(
		69.57deg,
		#5433ff 7.06%,
		#20bdff 42.61%,
		#8dffbe 78.16%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	margin-top: 0.6em;
	margin-bottom: 0.25em;

	background-size: 300%;
	animation: bg-animation 10s infinite alternate;
}

.URLinput {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	padding: 3px;
	padding-left: 12px;
	width: 675px;
	height: 73px;
	transition: outline-color 200ms;
	outline: 2px solid rgba(0, 0, 0, 0.23);
	background-color: white;
}

.linkLogo {
	width: 52px;
	height: 49px;
	color: grey;
}

.Urlinputbox {
	width: 100%;
	height: 100%;
	border: 0;
	background: inherit;
	font-size: x-large;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

.Urlinputbox:focus-visible {
	outline: 0;
}

.ShortifyButton {
	position: relative;
	box-sizing: border-box;

	width: 168px;
	height: 100%;
	background: linear-gradient(
		79.31deg,
		rgba(255, 255, 255, 0.09) 0%,
		rgba(255, 255, 255, 0.12) 100%
	);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(28px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 5px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	border: none;

	color: #ffffff;
	cursor: pointer;
}

.ShortifyButton p {
	mix-blend-mode: overlay;
	margin: 0;
}

.ShortifyButtonBackground {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		69.57deg,
		#5433ff 7.06%,
		#20bdff 42.61%,
		#8dffbe 78.16%
	);

	border-radius: 5px;
	background-size: 350%;

	animation: bg-animation-reverse 1s forwards;
	transition: all 175ms ease-in-out;
}

.ShortifyButton:hover .ShortifyButtonBackground {
	animation: bg-animation 1s forwards;
}

.ShortifyButton:active {
	transform: scale(0.95);
}

.linkList {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0%;
	gap: 0.6em;
}
